#main{
        margin-top: 8%;
        position: absolute;
        z-index: -2;
    }
.sidebarA{
    padding-top:0%;
    heigth: 8%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
}
.sidebarB{
    heigth: 8%;
    width: 100%;
    margin-top: 8%;
    position: fixed;
    overflow: auto;
    z-index: -1;
    background-color: #aaa;
    animation-duration: 0.3s;
    animation-name: animatedown;
}
    @keyframes animatedown{
from{top:-2%;opacity:0} to{top:0%;opacity:1}
}
.btn01{
    border: none;
    text-align: center;
}
